report/pictures/dispatch.png
report/pictures/load_profile.png
report/pictures/solar_data.png
report/pictures/wind_data.png
report/pictures/location.png
report/pictures/re_supply.png
report/txt_files/2_2_table_description.txt
report/txt_files/4_2_re_energy_supply.txt
report/txt_files/5_dispatch.txt
report/txt_files/default/6_1_economic_evaluation.txt
report/txt_files/summary.txt
report/St. Dominics Hospital.pdf
report/MiGUEL Project.pdf
/test/
.idea
